.header{
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/images/Banner\ Image.png);
    height: 850px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-greeting{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 0px;
}
.banner-title{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 95px;
    font-weight: 900;
    letter-spacing: 2px;
}
.banner-container{
    width: 1000px;
    padding: 200px 440px;
}
/*about discount part*/
.discount{
    margin-top: 150px;
    font-family: 'Inter', sans-serif;
}
.discount-section{
    text-align: center;
    background-color: #FFF;
}
.discount-title{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 30px;
}
.discount-heading{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}
.discount-item{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 5px;
}
/*about welcome section*/
section{
    margin-top: 150px;
}
.welcome-banner{
    display: flex;
    padding: 40px 40px 40px 200px;
    align-items: center;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}
.twentypic{
    width: 600px;
}
.welcome-title{
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 90px;
    font-weight: 900;
    letter-spacing: 7.04px;
}
.welcome-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.join{
    color: #070211;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 50px;
}
.welcome{
    width: 1050px;
}
/*place section*/
.offer-section{
    padding: 100px;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.offer-announcement{
    font-size: 42px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.redmama{
    color: #F00; 
}
.joinn{
    color: #FFF;
    font-size: 25px;
    display: inline-flex;
    margin-top: 40px;
    padding: 24px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #F00;
    border-color: #F00;
}
/*best offer section*/
.best-offer-container{
    display: flex;
    background: #FFF;
}
.best-offer-heading{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 34px;
    font-weight: 500;
    margin-top: 100px;
}
.best-offer-title{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 68px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
}
.best-offer-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0px;
}
.best-offer-holder{
    margin-right: 100px;
}
.best-offer-image{
    padding: 40px 40px 40px 40px;
    border: 20px solid #F00;
    border-radius: 600px;
}
.red-twenty-four{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 58px;
    font-weight: 700;
}
.new-year-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.happy-new-year{
    margin-right: 0px;
    margin-left: 180px;
}